In [10]:
import pandas as pd
df = pd.read_csv("csvs\\titanic.csv")
df

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [50]:
dummies = pd.get_dummies(df['Sex'], dtype = int)
df1 = pd.concat([df,dummies],axis = 1)
df1.drop(["Sex",'male'],axis='columns',inplace=True)
df1.head(3)

   Survived  Pclass   Age     Fare  female
0         0       3  22.0   7.2500       0
1         1       1  38.0  71.2833       1
2         1       3  26.0   7.9250       1

In [51]:
inputs = df1.drop('Survived', axis = 1)
target = df1.Survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [53]:
pd.isna(inputs).sum()

Pclass      0
Age       177
Fare        0
female      0
dtype: int64

In [74]:
inputs.fillna(inputs.Age.mean(), inplace = True)

In [75]:
pd.isna(inputs).sum()

Pclass    0
Age       0
Fare      0
female    0
dtype: int64

In [66]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
model = GaussianNB()

In [80]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [60]:
from sklearn.model_selection import cross_val_score

In [84]:
cross_val_score(GaussianNB(),X_train, y_train, cv = 5)

array([0.7972028 , 0.76923077, 0.83098592, 0.72535211, 0.72535211])

In [86]:
model.predict_proba(X_test[:10])

NotFittedError: This GaussianNB instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.