In [41]:
import numpy as np
import pandas as pd
import math
from sklearn import linear_model

In [ ]:
def grad_descent(x,y):
    reg = linear_model.LinearRegression()
    reg.fit(df[['math']],df.cs)
    m_curr = b_curr = 0
    max_iters = 1000
    learning_rate = 0.08
    n = len(x)
    while math.isclose(m_curr,reg.coef_,abs_tol =1e-20) == False:
        for i in range(max_iters):
            yhat = m_curr*x + b_curr
            cost = (1/n) * sum([val **2 for val in (y-yhat)])
            md = (-2/n)*sum(x*(y-yhat))
            bd = (-2/n)*sum(y-yhat)
            m_curr = m_curr - learning_rate * md
            b_curr = b_curr - learning_rate * md
            print("m {}, b{}, cost {}, iteration {}".format(m_curr,b_curr,cost,i))

x = np.array([1,2,3,4,5])
y= np.array([5,7,9,11,13])

#grad_descent(x,y)

In [18]:
df = pd.read_csv("csvs/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [35]:
#fitting regression model with features+predicting
reg = linear_model.LinearRegression()
reg.fit(df[['math']],df.cs)
reg.coef_

array([1.01773624])

In [37]:
reg.intercept_

1.9152193111568891

In [ ]:
grad_descent(df.math,df.cs)